@media screen and (max-width: 1500px){
  #NavBar>div:nth-child(2){
    margin: 0;
  }

  #SfondoSezione1{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 800px){
  
}