#NavBar {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  block-size: 100px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  font-size: 1em;
  transition: all .5s;
}

#NavBar a {
  color: var(--bianco);
  text-decoration: none;
}

#NavBar a:hover {
  color: var(--arancio);
}

#NavBar svg {
  block-size: 50px;
  fill: var(--bianco);
}

#NavBar>div:nth-child(2) {
  margin-inline-start: 35cqi;
  display: flex;
  align-items: center;
}

#NavBar>div:nth-child(2)>* {
  display: inline;
  margin-inline: 1cqi;
  font-size: 1em;
  border: 2px solid transparent;
  transition: border 1s ease-out;
}

#NavBar>div:nth-child(2)>*:hover {
  border-bottom: 2px solid var(--arancio);
}

#Aree{
  font-size: 1em;
}

#Attivita{
  font-size: 1em;
}

#TendinaAree {
  inline-size: 10cqi;
  opacity: 0;
  transition: all 0.5s ease-out;
  position: absolute;
  background-color: whitesmoke;
  text-align: center;
}

#TendinaAree>span:hover {
  color: var(--arancio);
  cursor: pointer;
}

#TendinaAttivita {
  display: block;
  inline-size: 10cqi;
  opacity: 0;
  transition: all 0.5s ease-out;
  position: absolute;
  background-color: whitesmoke;
  text-align: center;
  text-decoration: none;
}

#TendinaAttivita>span:hover {
  color: var(--arancio);
  cursor: pointer;
}

.listaAree {
  display: block;
  margin-block: 5px;
  margin-inline: 5px;
  font-size: 0.8em;
}

.listaAttivita {
  display: block;
  margin-block: 5px;
  margin-inline: 5px;
  font-size: 0.8em;
}

.dropdown {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.dropdown::after {
  content: "🞃";
}

.dropdown:hover {
  color: var(--arancio);
}
