#Sezione1 {
  background: linear-gradient(180deg, transparent 0%, var(--blu-scuro) 60%, var(--blu-scuro) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100cqi;
  z-index: 0;
}

#Vetrina1 {
  z-index: 0;
  block-size: 100%;
  color: var(--bianco);
}

#Vetrina1 h1{
  color: var(--bianco);
  font-size: 1em;
  inline-size: 40cqi;
  margin-inline-start: 20cqi;
  margin-block-start: 250px;
  font-size: 70px;
  font-weight: 100;
  font-size: 4em;
}

#Vetrina1 #Eventi{
  margin-inline-start: 20cqi;
  inline-size: 50cqi;
  font-size: 3em;
  font-weight: 400;
  color: var(--bianco);
  
}

#Vetrina1 #Eventi span:nth-child(odd){
  color: var(--blu-scuro);
  font-weight: 700;
  font-size: 0.7em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--arancio);
  transition: color 0.7s;
}
#Vetrina1 #Eventi span:nth-child(odd):hover{
  color: var(--arancio);
  cursor: pointer;
}

#Vetrina1 #Eventi span:nth-child(even){
  font-size: 1em;
  vertical-align: middle;
}

#Testo{
  display: block;
  margin-inline-start: 20cqi;
  margin-block-start: 200px;
  inline-size: 40cqi;
}

#Testo span{
  display: inline-block;
  color: var(--arancio);
  margin-block-start: 30px;
}

#Testo svg{
  fill: var(--arancio);
  display: inline-block;
  vertical-align: middle;
  block-size: 40px;
}