@import url("./tastoPrenota.css");
@import url("./navBar.css");
@import url("./sezione1.css");
@import url("./sezione2.css");
@import url("./sezione3.css");
@import url("./mobile.css");

:root{
  --blu-scuro: rgb(30, 34, 50);
  --arancio: rgb(217, 123, 89);
  --bianco: rgb(245, 245, 245);
  --rosso-citta: rgb(255, 10, 83);
  --blu-citta: rgb(0, 133, 255);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--blu-scuro);
  width: 100dvw;
  height: 500dvh;
  font-family: sans-serif;
  font-size: 22px;
}

#Sfondo {
  background: url("./media/batman.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}