#NavBar {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  block-size: 100px;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 3;
  top: 0;
  transition: block-size .5s, background-color .5s;
}

#NavBar svg {
  block-size: 70px;
  fill: var(--bianco);
  transition: block-size .5s;
}

#NavBar>div:nth-child(2) {
  margin-inline-start: 33cqi;
  display: flex;
  align-items: center;
}

#NavBar>div:nth-child(2)>* {
  display: inline;
  margin-inline: 1cqi;
  border: 2px solid transparent;
  transition: border 0.3s ease-out;
}

#NavBar>div:nth-child(2)>*:hover {
  border-bottom: 2px solid var(--arancio);
}

#NavBar a {
  color: var(--bianco);
  text-decoration: none;
}

#NavBar a:hover {
  color: var(--arancio);
}

#TendinaAree {
  inline-size: 10cqi;
  opacity: 0;
  transition: all 0.2s ease-out;
  position: fixed;
  background-color: var(--bianco);
  text-align: justify;
}

#TendinaAree>span:hover {
  color: var(--arancio);
  cursor: pointer;
}

#TendinaAttivita {
  inline-size: 10cqi;
  opacity: 0;
  transition: all 0.2s ease-out;
  position: absolute;
  background-color: var(--bianco);
  text-align: justify;
}

#TendinaAttivita>span:hover {
  color: var(--arancio);
  cursor: pointer;
}

.listaAree {
  display: block;
  margin-block: 5px;
  margin-inline: 5px;
  font-size: 0.8em;
}

.listaAttivita {
  display: block;
  margin-block: 5px;
  margin-inline: 5px;
  font-size: 0.8em;
}

.dropdown {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--bianco);
}

.dropdown::after {
  content: "🞃";
  position: absolute;
}

.dropdown:hover {
  color: var(--arancio);
}

#NavBar #Prenota {
  inline-size: 12cqi;
  block-size: 40px;
  font-weight: 900;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--arancio);
  border: 3px solid black;
  transition: border 0.2s;
  color: black;
}

#NavBar #Prenota:hover {
  border: 3px solid var(--arancio);
}
