#Sezione8{
  color: var(--bianco);
  font-size: .7em;
}

#Sezione8 p{
  padding-inline-start: 8cqi;
}

#Sezione8 p:nth-of-type(2){
  background-color: rgb(0, 0, 24);
  margin: 0;
  padding-block: 30px;
}