@import url("./navBar.css");
@import url("./sezione1.css");
@import url("./sezione2.css");
@import url("./sezione3.css");
@import url("./sezione4.css");
@import url("./sezione5.css");
@import url("./sezione6.css");
@import url("./sezione7.css");
@import url("./sezione8.css");
@import url("./mobile.css");

:root{
  --blu-scuro: rgb(30, 34, 50);
  --arancio: rgb(217, 123, 89);
  --bianco: rgb(245, 245, 245);
  --rosso-citta: rgb(255, 10, 83);
  --blu-citta: rgb(0, 133, 255);
}

body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  font-family: sans-serif;
  font-size: 22px;
  background-image: linear-gradient(180deg, transparent 0%, var(--blu-scuro) 13%, var(--blu-scuro) 100%), url("../media/batman.jpg");
  background-size: contain;
  overflow-x: hidden;
}

*{
  font-family: "Host Grotesk", sans-serif;
}

::selection{
  background-color: var(--arancio);
}